loguru
GitPython
jinja2
openai>=1.14.3
prompt_toolkit
pydantic
rich
pylint
PyYAML
pdfminer
pypdf>=6.9.1
pathspec
tokenizers
duckdb
numpy
psutil
cutword
pandas
antlr4-python3-runtime==4.7.1
fastapi
uvicorn
websockets
requests>=2.32.4