<div class="message-area visible">
    <!-- 标签栏 -->
<!--    <div class="tab-bar">-->
<!--        <button class="tab-button active">消息记录</button>-->
<!--        <button class="tab-button">当前变更</button>-->
<!--        <button class="tab-button">提交记录</button>-->
<!--    </div>-->

    <!-- 聊天面板 -->
    <div class="chat-panel">
        <!-- 状态栏 -->
        <div class="status-bar">
            <div class="current-task">
                <span>当前任务: </span>
                <span id="current-task-text"></span>
                <div id="current-task-loading" class="loading" style="display: none;"></div>
            </div>
            <div class="stats">
                {% if enable_hybrid_index %}
                    <span>混合索引: <span class="input-token">开启</span></span>
                {% else %}
                    <span>混合索引: <span class="output-token">关闭</span></span>
                {% endif %}

                {% if enable_hybrid_index %}
                    <span>混合索引最大输出: <span class="input-token">{{ hybrid_index_max_output_tokens }} tokens</span></span>
                {% else %}
                    <span>混合索引最大输出: <span class="output-token">{{ hybrid_index_max_output_tokens }} tokens</span></span>
                {% endif %}
                <span>缓存文档数: {{ cache_size }}</span>
            </div>
        </div>

        <!-- 消息列表 -->
        <div class="message-list">
        </div>
    </div>
</div>